<div>
    <h3>ListCard de Filmes</h3>
    <div class="container">
        <div class="row">
            <div class="col col-xl-3 col-lg-4 col-sm-6 col-12" *ngFor="let prod of listaProdutos">
                <app-card-produto class="p-3">
                    <img titulo src="/imagem.png" alt="produto" class="card-img-top img-fluid">
                    
                    <div conteudo>
                        <h5 class="card-title">{{prod.nome}}</h5>
                        <p class="card-text">R$ {{prod.preco}}</p>
                    </div>
                </app-card-produto>
            </div>
        </div>
    </div>
</div>